<section class="faqs padding-top-100" id="faqs">
  <div class="container">
    <h2 class="text-center">Frequently Asked Questions</h2>
    <div class="row">
      <div class="col-md-10 offset-md-1">

        <!-- start FAQ -->
        <div class="faq">
          <div id="accordion-container" class="accordion-container">
            <!-- start item -->
            <div class="accordion-item" [ngClass]="{'active': isActive(1)}">
              <div id="accordion-item-1" class="accordion-toggler">
                <h4 class="__title h5">Are there any geographical restrictions to participate in MedSupply Crowdsale?</h4>
                <i (click)="toggle(1)" class="circled" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"></i>
              </div>
              <article id="collapseOne" class="collapse" aria-labelledby="accordion-item-1" data-parent="#accordion-container">
                <div class="__inner">
                  <p>
                    There are absolutely no restrictions and MedSupply Crodsale token gathering event is open to all. Also, our platform will be open to people from all geographical locations.
                  </p>
                </div>
              </article>
            </div>
            <!-- end item -->
            <!-- start item -->
            <div class="accordion-item" [ngClass]="{'active': isActive(2)}">
              <div class="accordion-toggler">
                <h4 class="__title h5">What benefits will I get by investing in MedSupply Crowdsale?</h4>
                <i (click)="toggle(2)" class="circled" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"></i>
              </div>
              <article id="collapseTwo" class="collapse" aria-labelledby="accordion-item-2" data-parent="#accordion-container">
              <div class="__inner">
                  <p>
                    The benefits depend of the time when you choose to participate in MedSupply Crowdsale. While all our token holders get exclusive membership to MedSupply platform and other groups our early investors are entitled to further perks and benefits from the token sale. You get access to quality medicines and medical facilities at affordable prices as well.
                  </p>
                </div>
              </article>
            </div>
            <!-- end item -->
            <!-- start item -->
            <div class="accordion-item" [ngClass]="{'active': isActive(3)}">
              <div class="accordion-toggler">
                <h4 class="__title h5">How secure is MedSupply?</h4>
                <i (click)="toggle(3)" class="circled" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"></i>
              </div>
              <article id="collapseThree" class="collapse" aria-labelledby="accordion-item-3" data-parent="#accordion-container">
                <div class="__inner">
                  <p>
                    MedSupply makes use of the latest blockchain technology and advanced encryption methods. Developed on top of Ethereum’s blockchain MedSupply tokens are fully secure and allows our users for seamless and hassle free transactions and exchange.
                  </p>
                </div>
              </article>
            </div>
            <!-- end item -->
            <!-- start item -->
            <div class="accordion-item" [ngClass]="{'active': isActive(4)}">
              <div class="accordion-toggler">
                <h4 class="__title h5">Is MedSupply sustainable?</h4>
                <i (click)="toggle(4)" class="circled" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"></i>
              </div>
              <article id="collapseFour" class="collapse" aria-labelledby="accordion-item-4" data-parent="#accordion-container">
                <div class="__inner">
                  <p>
                    The entire idea has been thoroughly tested and well researched. Moreover MedSupply has well defined revenue streams and boasts of a very strong and scalable network making it a totally sustainable venture.
                  </p>
                </div>
              </article>
            </div>
            <!-- end item -->
            <!-- start item -->
            <div class="accordion-item" [ngClass]="{'active': isActive(5)}">
              <div class="accordion-toggler">
                <h4 class="__title h5">How do I get to know more details and keep myself updated with other developments related to the ICO?</h4>
                <i (click)="toggle(5)" class="circled" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive"></i>
              </div>
              <article id="collapseFive" class="collapse" aria-labelledby="accordion-item-5" data-parent="#accordion-container">
                <div class="__inner">
                  <p>
                    You can check the ICO calendar and also subscribe to MedSupply.io. We regularly update our subscribers with latest developments and news and also educate them on ICOs and send information regarding the problems within the healthcare industry and how we are aiming towards a sustainable solution.
                  </p>
                </div>
              </article>
            </div>
            <!-- end item --><!-- start item -->
            <div class="accordion-item" [ngClass]="{'active': isActive(6)}">
              <div class="accordion-toggler">
                <h4 class="__title h5">How can I participate in the MedSupply Crowdsale?</h4>
                <i (click)="toggle(6)" class="circled" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix"></i>
              </div>
              <article id="collapseSix" class="collapse" aria-labelledby="accordion-item-6" data-parent="#accordion-container">
                <div class="__inner">
                  <p>
                    It is simple. You sign up to MedSupply and follow the announcements. We will be notifying you regarding the token sales and other related developments.
                  </p>
                </div>
              </article>
            </div>
            <!-- end item -->
          </div>

          <div class="text--center">
            <a class="custom-btn custom-btn--medium custom-btn--style-1" href="#">Show more</a>
          </div>
        </div>
        <!-- end FAQ -->
      </div>
    </div>
  </div>
</section>
