<!-- Why Choose Us -->
<section class="why-choose padding-top-100 padding-bottom-100" id="about">
  <div class="container">

    <!-- Why Choose Us  ROW-->
    <div class="row">
      <div class="col-md-7 margin-top-60">

        <!-- Tittle -->
        <div class="heading margin-bottom-20">
          <h6 class="margin-bottom-10">The world’s only enterprise blockchain solution for affordable medical supplies. </h6>
          <h4>About MedSupply ICO</h4>
        </div>
        <p>
          MedSupply ICO is a step towards creating an innovative and intuitive platform and is all set to disrupt the current trends and practices dominating the Medical supply chain industry. Addressing the issue of non availability and higher prices of prescription drugs we are revolutionizing the way people buy their medicines and avail medical facilities. Developed on top of Ethereum’s Blockchain, every MedSupply tokens purchased will allow our members a free access to the platform. With secured benefits and perks for early investors tokens can be used to get stocks of Medical supplies and equipments at affordable rates along with other membership privileges.
        </p>
        <div class="ultra-ser"> <span><span class="name"> Webicode &nbsp; - &nbsp;</span> <span>Ceo/Founder Chain</span></span> </div>
        <a class="vid-btn margin-top-30 popup-youtube" href="https://www.youtube.com/watch?v=7e90gBu4pas"><i class="fas fa-play-circle"></i> Watch Video <br>
          <span>How it works</span></a> </div>

      <!-- Image -->
      <div class="col-md-5 text-right"> <img src="assets/images/chain-img.png" alt="Why Choose Us Image" > </div>
    </div>

    <!-- Services ROW -->
    <div class="row">


      <!-- Services -->
      <div class="col-md-4">
        <div class="ib-icon"> <i class="flaticon-smartphone"></i> </div>
        <div class="ib-info">
          <h4 class="h6">Peer-to-Peer Transactions</h4>
          <p>With distributed ledgers and an independent MedSupply token, it is fully decentralized and an open-to-all network.</p>
        </div>
      </div>

      <!-- Services -->
      <!--<div class="col-md-4">
        <div class="ib-icon"> <i class="flaticon-flat-world-map"></i> </div>
        <div class="ib-info">
          <h4 class="h6">Borderless Payments</h4>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem not simply random accusantium</p>
        </div>
      </div>-->

      <!-- Services -->
      <div class="col-md-4">
        <div class="ib-icon"> <i class="flaticon-secure-shield"></i> </div>
        <div class="ib-info">
          <h4 class="h6">Fully Protection</h4>
          <p>Using the latest Blockchain technology and encryption our platform is fully secured against any identity theft or data hacks.</p>
        </div>
      </div>

      <!-- Services -->
      <!--<div class="col-md-4">
        <div class="ib-icon"> <i class="flaticon-credit-card"></i> </div>
        <div class="ib-info">
          <h4 class="h6">Smart Money</h4>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
        </div>
      </div>-->

      <!-- Services -->
      <div class="col-md-4">
        <div class="ib-icon"> <i class="flaticon-wallet"></i> </div>
        <div class="ib-info">
          <h4 class="h6">Secure Wallet</h4>
          <p>Secure and identity proof MedSupply wallet is easy to operate and allows for a seamless and quick transactions and exchange.</p>
        </div>
      </div>

      <!-- Services -->
      <!--<div class="col-md-4">
        <div class="ib-icon"> <i class="flaticon-money"></i> </div>
        <div class="ib-info">
          <h4 class="h6">Easy To buy & Sell</h4>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
        </div>
      </div>-->
    </div>
  </div>
</section>
