<section class="team style-2 padding-top-100" id="team">
  <div class="container">
    <div class="text-center">
      <h2>Our Senior Team Leads </h2>
    </div>
    <div class="col-md-10 offset-md-1">
      <ul class="team-small">
        <li><img src="assets/images/team-img-1.jpg" alt=""><a class="hover" href="#.">John Doe </a></li>
        <li><img src="assets/images/team-img-2.jpg" alt=""><a class="hover" href="#.">John Doe </a></li>
        <li><img src="assets/images/team-img-3.jpg" alt=""><a class="hover" href="#.">John Doe </a></li>
        <li><img src="assets/images/team-img-4.jpg" alt=""><a class="hover" href="#.">John Doe </a></li>
        <li><img src="assets/images/team-img-5.jpg" alt=""><a class="hover" href="#.">John Doe </a></li>
        <li><img src="assets/images/team-img-6.jpg" alt=""><a class="hover" href="#.">John Doe </a></li>
        <li><img src="assets/images/team-img-7.jpg" alt=""><a class="hover" href="#.">John Doe </a></li>
        <li><img src="assets/images/team-img-8.jpg" alt=""><a class="hover" href="#.">John Doe </a></li>
        <li><img src="assets/images/team-img-9.jpg" alt=""><a class="hover" href="#.">John Doe </a></li>
        <li><img src="assets/images/team-img-10.jpg" alt=""><a class="hover" href="#.">John Doe </a></li>
      </ul>
    </div>
  </div>
</section>

<!-- Advisors -->
<section class="team style-2 padding-top-50 padding-bottom-100" id="advisors">
  <div class="container">
    <div class="text-center">
      <h2>Advisors </h2>
    </div>
    <div class="col-md-8 offset-md-2">
      <ul class="team-small advisors">
        <li><img src="assets/images/our-team-2a.png" alt=""><a class="hover" href="#.">John Doe </a></li>
        <li><img src="assets/images/our-team-2a.png" alt=""><a class="hover" href="#.">John Doe </a></li>
        <li><img src="assets/images/our-team-2a.png" alt=""><a class="hover" href="#.">John Doe </a></li>
      </ul>
    </div>
  </div>
</section>
