<!-- Development -->
<section class="dev-activ padding-top-100" id="activity">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="sm-intro">
          <h2>Some Facts</h2>
          <p>Initial Coin Offering</p>
        </div>
        <h5>Amount of tokens 10 000 000 000:</h5>
        <ul>
          <li>50% ICO </li>
          <li>20% Reserve </li>
          <li>25% Team </li>
          <li>5%  Advisors</li>
        </ul>
      </div>
      <div class="col-md-6">
        <img src="assets/images/percent-allocation.png">
      </div>
    </div>
  </div>
</section>
