<!-- Road Map -->
<section class="road-map padding-top-100 padding-bottom-0" id="roadmap">
  <div class="container-fluid">
    <h2>Our Main Road Map</h2>
    <p>While it all started in early 2017 MedSupply has come a long way through. Envisioning the platform, addressing the challenges delving deep into research and striving for nothing but the best - our vision and goals are well defined.  </p>

    <div class="row">
      <div class="col-md-10 offset-md-1">

      <!-- Road List -->
        <div class="timeline timeline--style-2 timeline--dark-color">
          <!-- start item -->
          <div class="__item __item--active">
            <i class="__point"></i>
            <span class="__line __line--active"></span>

            <span class="__text __text--first">Q1 2018</span>
            <h5 class="__text __text--second">The beginning</h5>
            <p>
              Initiate the development of MedSupply coin (MSC)
            </p>
          </div>
          <!-- end item -->

          <!-- start item -->
          <div class="__item __item--active __item--current">
            <i class="__point"></i>
            <span class="__line __line--active"></span>

            <span class="__text __text--first">Q2 2018</span>
            <h5 class="__text __text--second">Pre-sale & Crowdsale</h5>
            <p>
              Administering the Pre-sale and Crowsale of MSC tokens.
            </p>
          </div>
          <!-- end item -->

          <!-- start item -->
          <div class="__item __item--active">
            <i class="__point"></i>
            <span class="__line __line--active"></span>

            <span class="__text __text--first">Q3 2018</span>
            <h5 class="__text __text--second">Listing on Exchanges</h5>
            <p>
              Token open market entry.
            </p>
          </div>
          <!-- end item -->

          <!-- start item -->
          <div class="__item __item--active">
            <i class="__point"></i>
            <span class="__line __line--active"></span>

            <span class="__text __text--first">Q4 2018</span>
            <h5 class="__text __text--second">Plaftorm building</h5>
            <p>
              Integrate Smart Contract and expand current solution.
            </p>
          </div>
          <!-- end item -->

          <!-- start item -->
          <div class="__item">
            <i class="__point"></i>
            <span class="__line"></span>

            <span class="__text __text--first">2019</span>
            <h5 class="__text __text--second">Focus on Global Marketing</h5>
            <p>
              Bring the benefits of the solution to more countries.
            </p>
          </div>
          <!-- end item -->

          <!-- start item -->
          <div class="__item">
            <i class="__point"></i>
            <span class="__line"></span>

            <span class="__text __text--first">2020</span>
            <h5 class="__text __text--second">Developers</h5>
            <p>
              Focus on developers and expanding applications
            </p>
          </div>
          <!-- end item -->
        </div>

      </div>
    </div>
  </div>
</section>
